# Dependencies and builds
node_modules
dist
build
coverage

# Logs and caches
*.log
*.lock
.pnp.*
.cache
.next
out

# Environment and system files
.env
.env.local
.env.*.local
.DS_Store

# Package managers and configs
package-lock.json
yarn.lock
pnpm-lock.yaml
tsconfig.json
.eslintrc.*
.prettierrc.*
eslint.config.mjs

# GitHub / CI files
.github/
.gitlab/
.idea/
.vscode/

# Docs and misc
CHANGELOG.md
